{% extends 'base.html' %}
{% block title %}Login{% endblock title %}

{% block content %}
<div class="container mt-5">
  <h2>Login</h2>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  {% for msg in messages %}
  <div class="alert alert-danger">{{ msg }}</div>
  {% endfor %}
  {% endif %}
  {% endwith %}
  <form method="POST">
    <div class="mb-3">
      <label>Username</label>
      <input name="username" class="form-control" required>
    </div>
    <div class="mb-3">
      <label>Password</label>
      <input name="password" type="password" class="form-control" required>
    </div>
    <button class="btn btn-success">Login</button>
    <a href="/signup" class="btn btn-link">Signup</a>
  </form>
</div>
{% endblock content %}